body {
  background-image: url("./imgs/download.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.game-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  width: 650px;
  height: 650px;
}

.flexbox-container div {
  width: 12.5%;
  height: 12.5%;
}

.flexbox-container img {
  width: 100%;
  height: 100%;
}

.square {
  width: 75px;
  height: 75px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.game-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.display-none {
  display: none;
}

.display-true {
  display: block;
}

.modal {
  display: none; 
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.buttons {
  background-image: url('./imgs/softbutton.jpg');
}

.game-container {
display: flex;
flex-direction: column;
align-items: center;
}
.controls {
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
margin-bottom: 20px;
}
.turn-display {
font-size: 20px;
font-weight: bold;
}
.selected {
  background-color: rgb(162, 162, 162) 

}
/* .light-up {
  background-color: darkred;
} */